.expenses-filter{
    color: white;
    padding: 0 1rem;
}

.expenses-filter_control{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.expenses-filter label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.expenses-filter select {
    font:  inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
}